@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Georgia', serif;
  margin: 0;
  background-color: #f9f9f7;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
